/* Base styles */
.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #121212;
  }
  
  .navbar.scrolled {
    background-color: #000;
  }
  
  .navbar-brand .logo {
    width: 5rem;
    height: auto;
  }
  
  .navbar-link {
    color: white;
    margin-right: 1rem;
  }
  
  .navbar-link.active {
    font-weight: bold;
    color: #ffd700; /* Gold color for active link */
  }
  
  .navbar-text {
    display: flex;
    align-items: center;
  }
  
  .social-icon img {
    width: 1.5rem;
    margin: 0 0.5rem;
  }
  
  .vvd {
    border: none;
    padding: 0.5rem 1rem;
    background-color: #ffd700;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar-text {
      flex-direction: column;
      margin-top: 1rem;
    }
  
    .social-icon img {
      width: 2rem;
    }
  
    .vvd {
      margin-top: 1rem;
    }
  }
  
  @media (min-width: 769px) {
    .navbar-text {
      flex-direction: row;
    }
  }
  